/.idea/
/.venv/
/files/CT/
/files/NY/
/files/NY_proceedings/

/_etc/logs/
/_etc/pdfs_backup/
/_etc/html/
/_etc/ny_session_cache.json
/_etc/input_backup.csv
/_etc/credentials/
/_etc/ai/
/config/envs/.env.base
/config/envs/.env.override
/TODO.md
